.footerWrapper{
    padding-top: 50px;
    background-color: hsla(0, 0%, 0%, 0.95);
}

.profileIcons{
    height: 30px;
    width: 30px;
    filter: brightness(0) invert(1);  /* Turns black color icon to white */
}

.profileIcons:hover{
    filter: invert(29%) sepia(97%) saturate(746%) hue-rotate(180deg) brightness(90%) contrast(90%);
}

.profileLinks{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.FooterText{
    display: Flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}

#FooterPara{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}