.navbar ul{
    list-style-type: none;
    background-color: black;
    padding: 15px;
    overflow: hidden;
    display: flex;
    max-width: fit-content;
    justify-self: end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    text-align: center;
}

.navbar a:hover{
    background-color: hsl(185, 56%, 53%);
    text-decoration: underline;
}

#HomeElement{
    margin-left: 0px;
}

.navbar li{
    float: right;
}

#LoginButton{
    margin-right: 5px;
    margin-left: 5px;
    padding: 12px;
    width: 80px;
    color: black;
    background-color: white;
}

#LoginButton:hover{
    background-color: hsl(185, 56%, 53%);
    text-decoration: underline;
}

.header-image{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    padding: 20px 40px;
}

#Logo{
    height: 160px;
    width: auto;
}